{{ include('header.html') }}
<!-- 头部 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.shtml">新闻公告</a></li>
            <li><a href="/aboutus.shtml">公司介绍</a></li>
            <li><a href="/contact.shtml">联系我们</a></li>
            <li><a href="./jiazhang/" target="_blank">家长监护</a></li>
        </ul>
    </div> 
</nav>
<!-- 中部 -->
<div class ="disediv">
   <div class="div_ceng">
       <div class="div_image" >
           <img src="https://assets-cn.skylinematrix.com/official_site/images/dhmsg_1.png" style="width: 100%;height: 100%;" >
       </div>
       <div class="div_font">
           <p>简介：</p>
           <h5>天下大势，贱久必萌，萌久必贱！Q萌策略卡牌手游《大话梦三国》贱落人间，让你掌控最贱的三国武将、最萌的三国军师。世界探索大地，在全中国的地图上探索掠夺资源，建立自己的贱萌帝国吧！八卦阵法搭配神兵技能，战斗局面由指尖掌控，超多玩法让你欲罢不能！<br>
			收集三国经典名将，特色羁绊手持神兵，培养最强三国阵容，突破传统卡牌站位，引入三国八卦阵法， 创新的世界探索系统，为您呈现引人入胜游戏体验。丰富的养成系统，多彩的阵容搭配，带你梦回三国！</h5>
       </div>   
   </div>
</div>
<div style="text-align:center;clear:both;">
<div class="main">
    <div class="row">
        <div class="col-xs-6 col-md-3" style="margin-bottom: 50px;">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/dhmsg_2.png">
            </div>
            <div class="txt_info">
                游戏介绍图片1
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/dhmsg_3.png">
            </div>
            <div class="txt_info">
                游戏介绍图片2
            </div>
        </div>
        <div class="col-xs-6 col-md-3" id="right">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/dhmsg_4.png">
            </div>
            <div class="txt_info">
                游戏介绍图片3
            </div>
        </div>
    </div>
</div>
{{ include('footer.html') }}
<script>
$(document).attr("title","大话梦三国 - 北京天际时空网络技术有限公司");
</script>