{{ include('header.html') }}
<!-- 头部 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.shtml">新闻公告</a></li>
            <li><a href="/aboutus.shtml">公司介绍</a></li>
            <li><a href="/contact.shtml">联系我们</a></li>
            <li><a href="./jiazhang/" target="_blank">家长监护</a></li>
        </ul>
    </div>
    
</nav>
<!-- 中部 -->
<div class ="disediv">
   <div class="div_ceng">
       <div class="div_image" >
           <img src="https://assets-cn.skylinematrix.com/official_site/images/dmw_1.png" style="width: 100%;height: 100%;" >
       </div>
       <div class="div_font">
           <p>简介：</p>
           <h5>《十万个大魔王》是创新轻冒险手游，日系风格的游戏设定、炫酷流畅的人物技能、通过不断点击探索惊心动魄的冒险世界，超乎想像的简单玩法让你进入全新的游戏世界，寻找最初的快乐。<br>
	创新轻冒险手游《十万个大魔王》！游戏主打手控点击、多线养成、卡牌收集四大特色。突破传统束缚融于点击竞技的概念，切实感受“杀怪”的爽快感，摆脱观看式的窘境。神秘冒险的BOSS战，惊艳全服的遗失圣物，即使下线退出游戏也不！会！停！疯狂点击与轻松放置由你来选择，为自由而战，冒险之旅即将开始。</h5>
       </div>   
   </div>
</div>
<div style="text-align:center;clear:both;">
<div class="main">
    <div class="row">
        <div class="col-xs-6 col-md-3" style="margin-bottom: 50px;">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/dmw_2.png">
            </div>
            <div class="txt_info">
                游戏介绍图片1
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/dmw_3.png">
            </div>
            <div class="txt_info">
                游戏介绍图片2
            </div>
        </div>
        <div class="col-xs-6 col-md-3" id="right">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/dmw_4.png">
            </div>
            <div class="txt_info">
                游戏介绍图片3
            </div>
        </div>
    </div>
    
</div>
<!-- 底部 -->
{{ include('footer.html') }}
<script>
$(document).attr("title","十万个大魔王 - 北京天际时空网络技术有限公司");
</script>