{{ include('header.html') }}
<!-- 头部 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.shtml">新闻公告</a></li>
            <li><a href="/aboutus.shtml">公司介绍</a></li>
            <li><a href="/contact.shtml">联系我们</a></li>
            <li><a href="./jiazhang/" target="_blank">家长监护</a></li>
        </ul>
    </div>
    
</nav>

<!-- 中部 -->

<div class ="disediv">
   <div class="div_ceng">
       <div class="div_image" >
           <img src="https://assets-cn.skylinematrix.com/official_site/images/lzsg_1.png" style="width: 100%;height: 100%;" >
       </div>
       <div class="div_font">
           <p>简介：</p>
           <h5>《龙珠三国》是一款以三国时代为背景的横屏9v9立体策略对战手游。游戏突破传统游戏模式，首创9V9纵深布阵，实现多人火拼！真实刺激的30 V 30军团战，有战场就有兄弟！Q版日式人物精致萌动，人物特点展现淋漓尽致！更多丰富玩法，助你拼杀天下，称霸三国！<br>《龙珠三国手游》这款游戏结合了龙珠和三国题材融合为一体，具有二次元风格，众多的角色等都将会登场，包含了五大职业、刀、医、骑、枪、谋，排兵布阵，环环相扣，更有PVP、PVE以及争夺金矿等挑战，各种装备神器等你来挑战，玩法多种多样，让神龙将龙珠和三国人物搭配的更加强大，下面就来加入吧！</h5>
       </div>   
   </div>
</div>
<div style="text-align:center;clear:both;">
<div class="main">
    <div class="row">
        <div class="col-xs-6 col-md-3" style="margin-bottom: 50px;">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/lzsg_2.png">
            </div>
            <div class="txt_info">
                游戏介绍图片1
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/lzsg_3.png">
            </div>
            <div class="txt_info">
                游戏介绍图片2
            </div>
        </div>
        <div class="col-xs-6 col-md-3" id="right">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/lzsg_4.png">
            </div>
            <div class="txt_info">
                游戏介绍图片3
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
{{ include('footer.html') }}
<script>
$(document).attr("title","龙珠三国 - 北京天际时空网络技术有限公司");
</script>