{{ include('header.html') }}
<!-- 头部 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.shtml">新闻公告</a></li>
            <li><a href="/aboutus.shtml">公司介绍</a></li>
            <li><a href="/contact.shtml">联系我们</a></li>
            <li><a href="./jiazhang/" target="_blank">家长监护</a></li>
        </ul>
    </div>
</nav>
<!-- 中部 -->
<div class ="disediv">
   <div class="div_ceng">
       <div class="div_image" >
           <img src="https://assets-cn.skylinematrix.com/official_site/images/main_13.png" style="width: 100%;height: 100%;" >
       </div>
       <div class="div_font">
           <p>简介：</p>
           <h5>《梦幻神域》是一款由Unity3D打造神样战斗手游，由四三九九游戏盒[1]  等平台一起运营的，《梦幻神域》改编自史上最强游戏动漫《刀剑神域》，游戏采用最新Unity3D引擎搭建，100%还原人物形象，真实演绎异世界酷炫场景。<br /> 《梦幻神域》改编自史上最强游戏动漫《刀剑神域》，该游戏真实演绎异世界酷炫场景；突破传统RPG的可多重操控战斗模式，体验绝对的操作快感;守护玩法；躲避陷阱等百种副本，深度交互的公会系统，让你浴血奋战，重返光荣！黑白剑舞重新现世，不通关别想走！</h5>
       </div>   
   </div>
</div>
<div style="text-align:center;clear:both;">
<div class="main">
    <div class="row">
        <div class="col-xs-6 col-md-3" style="margin-bottom: 50px;">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/main_03.png">
            </div>
            <div class="txt_info">
                游戏介绍图片1
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/main_05.png">
            </div>
            <div class="txt_info">
                游戏介绍图片2
            </div>
        </div>
        <div class="col-xs-6 col-md-3" id="right">
            <div class="pic">
                <a href="#"></a>
                <img src="https://assets-cn.skylinematrix.com/official_site/images/main_07.png">
            </div>
            <div class="txt_info">
                游戏介绍图片3
            </div>
        </div>
    </div>
</div>
{{ include('footer.html') }}
<script>
$(document).attr("title","梦幻神域 - 北京天际时空网络技术有限公司");
</script>