
body{
    background-color: #313950;
}
li{
    list-style: none;
}
.navbar-default{
    background-color: #313950;
    margin: 0 auto;
    height: 90px;
    border: none;
    border-radius: 0;
    width: 85%;
    position: relative;
}
.container-fluid{
    padding: 0;
    margin-top: 8px;
    width: 217px;
    float: left;
}
.navtext{
    float: right;
}
.navtext>ul{
}
.navtext>ul>li>.textactive{
    color: #ffe400;
    border-bottom: 2px #ffe400 solid;
    transition: all 0.2s;
}
.navtext>ul>li{
    float: left;
    padding-left: 35px;
    padding-right: 35px;
}
.navtext>ul>li>a{
    text-decoration: none;
    color: #f5f5f6;
    display: block;
    line-height: 88px;
    font-size: 16px;
    transition: all 0.2s;
}
.region{
    width: 60%;
    background: #ffffff;
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 10;
    padding-bottom: 20px;
}
.region>.top{
    height: 58px;
    background-color: #f7f7f7;
}
.region>.top>p{
    line-height: 58px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    padding-left: 15px;
    float: left;
    margin: 0;
}
.region>.top>.close{
    height: 58px;
    width: 58px;
    background: url(../images/close_02.png) left center no-repeat;
}
.region>.bottom>p{
    padding-left: 30px;
    line-height: 40px;
    font-size: 16px;
    color: #333333;
    margin: 20px auto;
}
.region>.bottom>ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.region>.bottom>ul>li{
    float: left;
    height: 40px;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 20px;
    background-color: #eeeeee;
    text-align: center;
}
.region>.bottom>ul>li:nth-child(3n){
    margin-right: 0;
}
.region>.bottom>ul>li>a{
    line-height: 40px;
    color: #757575;
}
.banner{
    position: relative;
    margin-bottom: 30px;
    height: 530px;
    overflow: hidden;
}
.banner>.thumbnail{
    display: block;
    padding: 0;
    margin-bottom: 0;
    line-height: 0;
    background: none;
    border: none;
    border-radius: 0;
}
.banner img{
    width: 100%;
    height: 530px;
}
.thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
}
.change{
    width:100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: 93%;
    clear: both;
    z-index: 100;

}
.change>ul{
    padding: 0;
    position:absolute;
    left:50%;
    top:0;
    margin:0 0 0 -110px;
    display:inline;
}
.change>ul>li{
    background: url(../images/choose1.png) 50% 50% no-repeat;
    z-index: 9;
    width:30px;
    height:30px;
    overflow:hidden;
    cursor:pointer;
    float:left;
    margin:0 8px;
    display:inline;
}
.change>ul>li.nuw{
    background: url(../images/choose2.png) 50% 50% no-repeat;
}
.main{
    background-color: #f7f7f7;
}
.row{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.row_top{
    padding-bottom: 10px;
}
.row_top h3{
    font-size: 24px;
    color: #fbb100;
    text-align: center;
    margin: 0;
    line-height: 40px;
}
.row_top>.box{
    height: 14px;
    background: url(../images/bottom_03.png) 50% 50% no-repeat;
}
.col-xs-6,.col-md-3{
    padding: 0;
    background-color: #ffffff;
    width: 32.33%;
    margin-right: 1.5%;

}
.pic{
    position: relative;
}
.pic a{
    width: 100%;
    height: 100%;
    background: url(../images/code_03.png) 50% 50% no-repeat;
    background-color: #313950;
    opacity: 0;
    background-size: 30%;
    z-index: 9;
    position: absolute;
    transition:all 0.5s;
}
.pic a>p{
    display: block;
    color: #fff;
    float: left;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 5%;
    margin-top: 20%;
}
.pic>img{
    width: 100%;
    height: 100%;
}
#right{
    margin-right: 0;
 }
.col-xs-6 h5,.col-md-3 h5{
    padding-left: 15px;
    font-size: 18px;
    color: #1b1b1b;
    line-height: 34px;
    margin: 0;
}
.col-xs-6 p,.col-md-3 p{
    padding-left: 15px;
    font-size: 16px;
    color: #8e8e8e;
    line-height: 26px;
    margin: 0;
}
.tex{
    float: left;
    /*border: solid 1px #FFFF00;*/
}
.tex>p{
    text-align: left;
    width: 350px;
}
.button{
    margin-right: 15px;
    float: right;
    height: 60px;
}
.iosbtn{
    margin-top: 12px;
    margin-left: 10px;
    float: left;
    height: 36px;
    width: 36px;
    background: url(../images/ios.jpg) left bottom no-repeat;
    transition: all 0.2s;
}
.iosbtn:hover{
    background: url(../images/ios.jpg) left top no-repeat;
    transition: all 0.2s;
}
.androidbtn{
    margin-top: 12px;
    margin-left: 10px;
    float: left;
    height: 36px;
    width: 36px;
    background: url(../images/android.jpg) left bottom no-repeat;
    transition: all 0.2s;
}
.androidbtn:hover{
    background: url(../images/android.jpg) left top no-repeat;
    transition: all 0.2s;
}
.countrybtn{
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    height: 36px;
    width: 36px;
    background-color: #ffffff;
    border-radius: 36px;
    border: 1px #fbb306 solid;
}
.countrybtn:hover{
    background-color: #fbb306;
    transition: all 0.4s;
}
.countrybtn p{
    font-size: 14px;
    color: #fbb306;
    padding: 0;
    line-height: 36px;
    text-align: center;
}
.countrybtn p:hover{
    color: #ffffff;
    transition: all 0.4s;
}
.bottom{
    padding-bottom: 20px;
}
.bottom a{
    text-decoration: none;
}
.bottombtn{
    display: block;
    width: 20%;
    height: 50px;
    background-color: #fbb100;
    border-radius: 50px;
    margin: 0 auto;
}
.bottombtn p{
    font-size: 20px;
    color: #ffffff;
    line-height: 50px;
    letter-spacing: 3px;
    background: url(../images/more.png) 77% center no-repeat;
    padding-right: 15%;
}
.news{
    margin-top: 20px;
    background-color: #f7f7f7;
}
.row_bottom{
    background-color: #f7f7f7;
    padding-bottom: 20px;
}
.row_bottom>.left{
    margin-left: 7.5%;
    width: 41%;
    float: left;
    margin-right: 3%;
    background-color: #ffffff;
    padding-bottom: 20px;
}

#mainright{
    margin-left: 0;
}
.title{
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.row_bottom h4{
    margin: 0;
    float: left;
    line-height: 50px;
    color: #50504f;
    font-size: 20px;
}
.row_bottom p a{
    line-height: 50px;
    margin: 0;
    float: right;
    color: #a0a0a0;
    font-size: 16px;
    text-decoration: none;
}
.row_bottom ul{
    padding-left: 30px;
    padding-right: 15px;
    margin-bottom: 0;
}
.row_bottom ul li a{
    line-height: 40px;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 16px;
}
.row_bottom ul li a span{
    float: right;
}
.last{
    clear: both;
}
.footer{
    padding-top: 40px;
    background-color: #313950;
    /*border: solid 1px #CCCCCC;*/
    /*margin-bottom: -15px;*/
}
.footer_inner{
    width: 80%;
    margin: 0 auto;
  
}
.footer_top{
    margin: 0 auto;
  
}
.footer_top>ul{
    width: 100%;
    padding: 0;
    height: 30px;
    margin: 0 auto;
}
.footer_top>ul>li{
    line-height: 30px;

}
.footer_top>ul>li>a{
    display: block;
    background: url(../images/line_03.png) right center no-repeat;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 16px;
}
.footer_top>ul>li:last-child a{
     background:none;
 }
.footer_top>ul>li:first-child a{
    padding-left: 0;
}

.footer_copyright{
	margin-bottom: 50px;
	text-align: center;
}

.footer_copyright>ul{
    width: 100%;
    padding: 0;
    height: 30px;
    margin: 0 auto;
}

.footer_copyright>ul>li{
    width: auto;
	line-height:30px;
    color: #F5F5F5;
    font-size: 16px;

}
.footer_inner>p{
    width: auto;
    margin-top: 20px;
    line-height: 30px;
    margin-bottom: 60px;
    display: block;
    color: #F5F5F5;
    font-size: 16px;
}
.disediv{
	background-color: #f7f7f7;
	height: 450px;
	width: 100%;
	/*position: relative;*/
	float: left;
	/*border: solid 1px #FFFF00;*/
}



.div_font>p{
	font-family: 微软雅黑;
	font-size: 18px;
}
.div_font>h5{
	font-family: 微软雅黑;
	font-size: 15px;
	line-height: 1.8;
}


/*con_server*/


.disediv1{
    background-color: #f7f7f7;
    /*height: 100%;*/
    width: 100%;
    /*font-family: 黑体;*/
    padding-top: 30px;
    min-height: 680px;
    height: 100%;
    padding-bottom: 30px;
}

.div_con{
	width: 960px;
	margin:0 auto;
    /*min-height: 100%;*/
    font-family: 黑体;
    height: 100%;
    /*border: solid 1px #CCCCCC;*/
}



.col-sm-6{
    /*border: solid 1px #FFFF00;*/
    margin-left: 0px;
    padding-left: 0px;
    /*margin-bottom: 50px;*/
}

.row_1{
    width: 960px;
    margin-left: 0px;
    margin: 0 auto;
}

/*mhsy.html*/
.div_ceng{
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    height: 100%;
    margin-top: 30px;
}

.div_image{
    /*background: url(../images/main_05_s.png) 50% 50% repeat;*/
    width: 48%;
    height: 85%;
    /*border: solid 1px #FFFF00;*/
    /*padding-top:30px;*/
    /*margin-top: 30px;*/
    /*padding-right: 5px;*/
    /*padding-left: 20px;*/
    float: left;
    /*margin-left: 7.5%;*/
    /*position: relative;*/
}

.div_font{
    width: 48%;
    /*margin-right: 7.5%;*/
    margin-left: 3%;
    /*border: solid 1px #FFFF00;*/
    /*padding-top:30px;*/
    float: left;
    word-wrap: break-word;
    word-break: normal;
    /*position: absolute;*/
    /*right: 100px;*/
}

.txt_info{
    /*position: relative;*/
    float: left;
    margin-top: 20px;
    text-align: center;
    width:100%;
    line-height: 1.8;
    font-size:14px;
    color: #5b5b5e;
    font-family: 微软雅黑;
}


/*newslist*/

.news_left{
    width: 660px;
    /*border: solid 1px #CCCCCC;*/
    text-align: left;

}
.news_right{
    float: right;
    width: 280px;
    /*border: solid 1px #CCCCCC;*/
    margin: 0 0 0 0;
}

.news_left>ul>li{
    border-bottom: solid 1px #CCCCCC;
    /*list-style-type: disc;*/
    font-size: 16px;
    line-height: 3.08333;
    margin-left: -40px;
    font-family: 微软雅黑;
}

.news_left>ul>li>span{
    float: right;
    font-size: 14px;
    color: #9f9f9f;
}
.news_left>ul>li>a{
    color: #2F0000;
}

.news_right>ul{
    list-style-type: none;
    line-height: 2.5;
    margin-left: -40px;
}
.news_right>ul>li>a{
    color: #2F0000;
}



/*newsinfo*/

.div_time{
    text-align: right;
    padding-bottom: 10px;

}
.geshi{
    text-rendering:optimizelegibility;
}

