{{ include('header.html') }}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.html">新闻公告</a></li>
            <li><a href="/aboutus.html" class="textactive">公司介绍</a></li>
            <li><a href="/contact.html">联系我们</a></li>
            <li><a href="/jiazhang.html" target="_blank">家长监护</a></li>
        </ul>
    </div>
    <div class="region">
        <div class="top">
            <p>Select Region</p>
            <div class="close"></div>
        </div>
        <div class="bottom">
            <p>Please select your country or region</p>
            <ul>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 中部 -->
<div class="disediv1" >
    <div class="div_con">
        <h2 >公司简介</h2>
        <hr style="border: solid 1px #B8B8B8">
        <p>
            <strong>北京天际时空网络技术有限公司</strong>是一家在2015年6月成立的面向海外市场的游戏娱乐企业。公司由手游行业知名人士创办，核心成员来自飞流、畅游、昆仑等知名企业，目前公司总部在北京，在韩国和东南亚都成立自己的子公司或办事处。<br /><br />
			我们是一支专业的团队，梯队搭配合理；成员既有游戏从业五年以上的专业人才，也有熟悉二次元动漫的90后大学生。<br />
			我们是一支年轻的团队。我们的平均年龄仅有27岁，充满了朝气和创新精神。<br />
			我们是一支有梦想的团队：在ACGN领域做一家优秀的全球化的娱乐公司，因爱而快乐。<br />
			我们崇尚分享、开放的互联网精神，公司核心层由初级合伙人和合伙人构成，利益共享，责任分担，心态开放，乐于分享。
			<br /><br />
			<strong>公司愿景</strong>：<br />
			围绕IP，打造一家全球化的移动娱乐公司。<br /><br />
			<strong>公司口号</strong>：<br />
			爱心创造快乐幸福<br /><br />
			<strong>创始团队</strong>：<br />
			创始团队带头人有五年移动互联网创业经验，所联合创办的飞流公司2015年市值8亿美金。<br />
			创始团队一起认识3－10年，相互之间工作交流默契，团队凝聚力强。<br />
			创始团队有全球视野，具有超强的执行力，对游戏有“心”有“爱”。<br /><br />
			<strong>企业文化</strong>：<br />
			务实、认真、分享、开放
			
		</p>
	</div>
</div>
{{ include('footer.html') }}

