{{ include('header.html') }}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.html">新闻公告</a></li>
            <li><a href="/aboutus.html">公司介绍</a></li>
            <li><a href="/contact.html" class="textactive">联系我们</a></li>
            <li><a href="/jiazhang.html" target="_blank">家长监护</a></li>
        </ul>
    </div>
    <div class="region">
        <div class="top">
            <p>Select Region</p>
            <div class="close"></div>
        </div>
        <div class="bottom">
            <p>Please select your country or region</p>
            <ul>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 中部 -->
<div class="disediv1" >
    <div class ="div_con" >
    <h2>联系我们</h2>
    <hr style="border: solid 1px #B8B8B8">
        <div class="row_1" style="">
          <div class="col-sm-6">
              <h3>北京总部</h3>
              <p>
                  北京市海淀区知春路108号豪景大厦A座203<br>
                    邮编：100086<br>
                    电话：010-62664086<br>
              </p>
			  <h3>位置</h3>
			  <p>
			  <img src="https://assets-cn.skylinematrix.com/official_site/images/clocation.jpg" width="450px">
			  </p>
          </div>
          <div class="col-sm-6">
		  <!--
			<h3>客服电话</h3>
			<p>010-62664086</p>
		-->
			<h3>游戏代理发行合作</h3>
			<p>
			联系人：王先生<br />
			QQ：7855902<br />
			Email：willwang@skylinematrix.com
			</p>
			
			<h3>来访接待</h3>
			<p>北京市海淀区知春路108号豪景大厦A座203<br>
			来访时间：周一至周五10:00-19:00(法定节假日除外)
			</p>
		  </div>
        </div>
    </div>
</div>
{{ include('footer.html') }}
