{{ include('header.html') }}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.html">新闻公告</a></li>
            <li><a href="/aboutus.html">公司介绍</a></li>
            <li><a href="/contact.html">联系我们</a></li>
            <li><a href="/jiazhang.html" target="_blank">家长监护</a></li>
        </ul>
    </div>
    <div class="region">
        <div class="top">
            <p>Select Region</p>
            <div class="close"></div>
        </div>
        <div class="bottom">
            <p>Please select your country or region</p>
            <ul>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 中部 -->
<div class="disediv1" >
    <div class="div_con" >
	    <h2 style="text-align: center;">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</h2>
		<div class="div_time">发布于：2016-6-20</div>
<!-- ############################# -->


<!-- ###################################### -->
		   &nbsp;&nbsp;&nbsp;近日，易观智库发布了《中国移动游戏市场趋势预测专题研究报告2016》。报告中分析指出，2015年开始，移动游戏市场趋于理性增长，但仍处于高速发展阶段。随着产业链的逐渐完善及商业模式的愈发成熟，移动游戏进入门槛提高，新品对于有效渠道的需求愈加迫切，大厂结合自建渠道的协同优势愈加凸显。同时，中重度游戏仍然广受市场青睐，其生命周期的保障愈发考验发行商的长线运营能力。作为全球领先的移动游戏发行与运营服务商，飞流九天一直秉承“可持续的成功”这一发展理念，凭借近年来中重度游戏发行力度、强IP储备、自有渠道搭建等方面的同步并举、稳步发展，在中重度游戏发行领域内优势进一步强化。<br>
 
 
【大厂布局成型 联合掘金趋势明显】<br>
 
    &nbsp;&nbsp;&nbsp;报告指出，随着腾讯、网易、畅游、盛大、巨人等为首的国内“网游十强”全部进入手游市场，研发、运营成本不断提升，中小厂商或倒闭或夹缝求生。刚刚过去的2015年，移动游戏市场已然格局确立，大厂平台化布局成型，品牌化趋势愈加明显。 同时，各大厂在努力发展自身业务的同时，已现合纵联盟之势，以期发挥彼此优势，通过资源整合达到产出的最大化，占据更大的市场份额。<br>
    &nbsp;&nbsp;&nbsp;2016年3月17日，完美世界与飞流九天联合推出的《射雕英雄传3D》手游全平台公测， <br>
    &nbsp;&nbsp;&nbsp;继3月11日游戏正式登陆iOS平台仅1日即摘得App Store付费榜冠军、全平台公测首日强势杀入App Store畅销榜20名之后，3月23日，《射雕英雄传3D》又再次斩获iOS畅销榜第9名的佳绩。据悉，这已是双方的第三次合作，此前，双方已在国内外成功合作发行过《神雕侠侣?飞流至尊版》、《神魔大陆》等优秀作品。同期，自《QQ御剑?飞流至尊版》与《全民斗三国》之后，飞流九天又再次获得腾讯游戏首款3D动作多模式竞技手游《九龙战》在韩国的独家发行、运营权。<br>
    &nbsp;&nbsp;&nbsp;同时，飞流九天近年来全面布局海外游戏市场，并有不俗表现。从2013年试水海外发行至今，已在韩国、泰国、日本、俄罗斯、欧美、港澳台等国家和地区设立了本地化发行团队或通过战略合作伙伴开展发行业务。除《神魔大陆》以外，还先后在韩国及港澳台地区发行了《苍穹变》、《苍翼默示录：战火重燃》、《发射吧！硬汉》等多款精品游戏。其中2015年，《苍翼默示录：战火重燃》、《苍穹变》接连取得App Store免费榜TOP2以及Google Play免费榜TOP2的佳绩。<br>
    &nbsp;&nbsp;&nbsp;目前，飞流九天已与包括完美世界、腾讯、墨麟、傲世堂、育碧、Rovio、雷尚科技等在内的国内外300多家顶级研发商达成合作。大厂之间的合纵之势将已经形成的市场格局进一步强化，更助于产品品质的整体提升及行业生态的进化发展。<br>
 
【稀缺流量寡头化 自有渠道优势显现】<br>
 
    &nbsp;&nbsp;&nbsp;在大厂布局、合纵势态形成的同时，智能机兴起时所带来的人口红利和换机红利逐渐消失，市场竞争进入白热化，马太效应明显。除此之外，移动游戏产品创新的难度增加，研发商黑马突围的几率进一步降低。报告也指出，2016年开始，市场逐渐进入成熟期，这要求新产品品质必须全面达标：特色差异化、关键指标运营、美术品质、技术储备均成为关键竞争要点。同时，国内手游市场流量向寡头集中，新产品对于曝光推广的需求也更加迫切。<br>
    &nbsp;&nbsp;&nbsp;产品推广请求进一步繁荣，但与之相对的，传统应用商店的推广资源却非常有限且价格昂贵，渠道资源的稀缺性越来越明显。拥有大量用户基础可进行精准投放的广告平台成为市场推广中越来越重要的角色，有自建渠道的厂商优势进一步凸显。
    作为飞流九天旗下专注于提供移动互联网营销服务的平台，成立于2005年的万普世纪无论行业排名、用户量基础、技术能力亦或投放精准度方面都具有很大优势。近年来，飞流九天通过万普世纪这一流量较大、技术优势明显的自有移动广告平台，实现了更精准、更有效的优质用户抓取，进一步扩大了自己的发行、运营优势。<br>
 
 
    &nbsp;&nbsp;&nbsp;其实，在移动游戏市场，像万普世纪和飞流九天这样的组合并非罕见。近年来，腾讯游戏、顺荣三七互娱、猎豹移动等公司都在用自营、收购或合作的模式在自有推广渠道上加码。伴随技术及数据更深入的应用，移动广告平台在移动游戏市场引导用户流向的作用将更加明显。同时，游戏也将反作用于广告平台，促进其通过精准定位用户和细化运营，将流量赋予更高的产出空间，从而达到互生共赢的成效。<br>
 
【发行市场 长线运营能力保障生命周期】<br>
 
    &nbsp;&nbsp;&nbsp;回到产品角度，市场IP热依然持续，易观智库表示：2015年，iOS平台畅销榜TOP100的游戏中，有IP的比例已接近40%，较2014年的31%有明显提升。由于IP在导量上的巨大优势，在移动游戏玩法创新难度加大的当下，IP已成为进行市场区隔、用户细分的法宝。随着2014、2015年游戏厂商所囤积的IP逐渐转化为产品，未来市场上IP改编手游的比例将继续提升。<br>
    &nbsp;&nbsp;&nbsp;但同时，伴随着大量影视、文学、动漫、综艺等多形式IP被改编为手游，也产生了大量产品在流水冲至高位后迅速跌落，生命周期较短的问题。相应的，这对发行、运营商的精细化长线运营能力提出了更高的要求。<br>
 
 
    &nbsp;&nbsp;&nbsp;除此之外， 相较于休闲游戏，中重度手游的市场成绩更为优异。目前，随着玩家移动游戏经验的愈加丰富，对于游戏产品的玩法和品质要求逐渐提高。中重度和竞技属性较强的手游产品，在调动玩家更深层次的游戏心理方面具有优势，使得玩家黏性及忠诚度更高。而且，中重度手游满足了部分PC端核心玩家在碎片化时间下的移动端游戏需求，在市场中倍受青睐。    易观智库分析师薛永峰表示：“中重度手游一般生命周期较长，同样对发行、运营商的长期和精细运营能力要求较高。在中重度手游运营上经验丰富的厂商将在未来市场竞争中占有优势。”<br>
    &nbsp;&nbsp;&nbsp;记者获悉，继《射雕英雄传3D》之后，接下来飞流九天还将有《三国群英传》、《忍者龟OL：经典复刻》、《啪啪三国2》、《守护者们》、《全职高手》、《百战百胜》（即《九龙战》，韩国独家代理）、《风云》（韩国独家代理）等一系列重量级精品新游与广大玩家见面，市场表现值得期待。<br>


    &nbsp;&nbsp;&nbsp;除此之外， 相较于休闲游戏，中重度手游的市场成绩更为优异。目前，随着玩家移动游戏经验的愈加丰富，对于游戏产品的玩法和品质要求逐渐提高。中重度和竞技属性较强的手游产品，在调动玩家更深层次的游戏心理方面具有优势，使得玩家黏性及忠诚度更高。而且，中重度手游满足了部分PC端核心玩家在碎片化时间下的移动端游戏需求，在市场中倍受青睐。    易观智库分析师薛永峰表示：“中重度手游一般生命周期较长，同样对发行、运营商的长期和精细运营能力要求较高。在中重度手游运营上经验丰富的厂商将在未来市场竞争中占有优势。”<br>
    &nbsp;&nbsp;&nbsp;记者获悉，继《射雕英雄传3D》之后，接下来飞流九天还将有《三国群英传》、《忍者龟OL：经典复刻》、《啪啪三国2》、《守护者们》、《全职高手》、《百战百胜》（即《九龙战》，韩国独家代理）、《风云》（韩国独家代理）等一系列重量级精品新游与广大玩家见面，市场表现值得期待。<br>

	</div>
</div>

{{ include('footer.html') }}


