{{ include('header.html') }}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.html" class="textactive">新闻公告</a></li>
            <li><a href="/aboutus.html">公司介绍</a></li>
			<li><a href="/contact.html">联系我们</a></li>
			<li><a href="/jiazhang.html" target="_blank">家长监护</a></li>
        </ul>
    </div>
    <div class="region">
        <div class="top">
            <p>Select Region</p>
            <div class="close"></div>
        </div>
        <div class="bottom">
            <p>Please select your country or region</p>
            <ul>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 中部 -->
<div class="disediv1" >
    <div class="div_con" >
	    <div class="news_right">
	    	<h3>最新文章</h3>
	    	<div>暂无公告！</div>
	    	<!-- <ul>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	            <li><a href="#">天际时空再度携手腾讯游戏</a></li>
	        </ul>
	        <h3>最新文章</h3>
	    	<ul>
	            <li><a href="#">九龙战定档年内入韩</a></li>
	            <li><a href="#">九龙战定档年内入韩</a></li>
	            <li><a href="#">九龙战定档年内入韩</a></li>
	            <li><a href="#">九龙战定档年内入韩</a></li>
	            <li><a href="#">九龙战定档年内入韩</a></li>
	            <li><a href="#">九龙战定档年内入韩</a></li>
	            <li><a href="#">九龙战定档年内入韩</a></li>
	        </ul> -->
	    </div>

	    <div class="news_left">
	        <h2>文章列表</h2>
	        <div style="text-align: center;font-size: 20px;">暂无公告!</div>
	        <!-- <ul>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="newsinfo.shtml">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a  title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            <li><a title="网红陈潇萌音撩人 《守护者们》主题曲点击破百万" href="#">网红陈潇萌音撩人 《守护者们》主题曲点击破百万</a><span >[2016-6-20]</span></li>
	            
	        </ul> -->
	    </div>

	    <!-- 分页 -->
	    <!-- <nav>
		  <ul class="pagination" style="margin-left:300px" >
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
 -->
	</div>
</div>
{{ include('footer.html') }}