{{ include('header.html') }}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="/"><img src="https://assets-cn.skylinematrix.com/official_site/images/logo.png"></a>
    </div>
    <div class="navtext">
        <ul>
            <li><a href="/">公司首页</a></li>
            <li><a href="/newslist.html">新闻公告</a></li>
            <li><a href="/aboutus.html">公司介绍</a></li>
            <li><a href="/contact.html">联系我们</a></li>
            <li><a href="/jiazhang.html" target="_blank">家长监护</a></li>
        </ul>
    </div>
    <div class="region">
        <div class="top">
            <p>Select Region</p>
            <div class="close"></div>
        </div>
        <div class="bottom">
            <p>Please select your country or region</p>
            <ul>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
                <li><a href="#">India</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 中部 -->
<div class="disediv1" style="padding-bottom: 20px;">
    <div class="div_con">
        <h2 style="text-align: center;padding-bottom: 10px">隐私协议</h2>
<p>
    北京天际时空网络技术有限公司网站（www.skylinematrix.com，以下简称“本网站”）隐私权保护声明系本网站保护用户个人隐私的承诺。&nbsp;
</p>
<p>
    <br/>
</p>
<p>
    本声明适用于您与本网站页面的交互行为以及您登记和使用本网站的在线服务。故特此说明本网站对用户个人信息所采取的收集、使用和保护政策，请您务必仔细阅读：
</p>
<p>
    <br/>
</p>
<p>
    1. 使用者个人化信息
</p>
<p>
    <br/>
</p>
<p>
    我们将通过您的IP地址来收集非个人化的信息，例如您的浏览器性质、操作系统种类、给您提供接入服务的ISP的域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，我们亦进行访客流量统计，从而改进网站的管理和服务。
</p>
<p>
    <br/>
</p>
<p>
    2. 个人资料
</p>
<p>
    <br/>
</p>
<p>
    当您在本网站进行用户注册或参与论坛等活动时，在您的同意及确认下，本网站将通过注册表格、订单等形式要求您提供一些个人资料。这些个人资料包括：
</p>
<p>
    个人识别资料：如姓名、性别、年龄、出生日期、身份证号码、电话、通信地址、住址、电子邮件地址等情况。
</p>
<p>
    个人背景： 职业、教育程度、收入状况、婚姻、家庭状况。
</p>
<p>
    在未经您同意及确认之前，本网站不会将您为参加本网站之特定活动所提供的资料利用于其它任何目的。
</p>
<p>
    <br/>
</p>
<p>
    3．信息安全
</p>
<p>
    <br/>
</p>
<p>
    本网站将对您所提供的资料进行严格的管理及保护，本网站将使用相应的技术，防止您的个人资料丢失、被盗用或遭窜改。本网站将电脑处理结果通知送达予您，而您未在通知规定的时间内主动明示反对，本网站将推定您已同意。
</p>
<p>
    <br/>
</p>
<p>
    4. 用户权利
</p>
<p>
    <br/>
</p>
<p>
    您对于自己的个人资料享有以下权利：
</p>
<p>
    随时查询及请求阅览；
</p>
<p>
    随时请求补充或更正；
</p>
<p>
    随时请求停止电脑处理及进行删除；
</p>
<p>
    <br/>
</p>
<p>
    5. 限制利用原则
</p>
<p>
    <br/>
</p>
<p>
    本网站惟在符合下列条件之一，方对收集之个人资料进行必要范围以外之利用：
</p>
<p>
    已取得您的邮件书面同意；
</p>
<p>
    为免除您在生命、身体或财产方面之急迫危险；
</p>
<p>
    为防止他人权益之重大危害；
</p>
<p>
    为增进公共利益，且无害于您的重大利益。
</p>
<p>
    <br/>
</p>
<p>
    6. 个人资料之披露
</p>
<p>
    <br/>
</p>
<p>
    当政府机关依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均得免责。
</p>
<p>
    <br/>
</p>
<p>
    7. Cookies
</p>
<p>
    <br/>
</p>
<p>
    Cookies是指一种技术，当使用者访问设有Cookies装置的本网站时，本网站之服务器会自动发送Cookies至客户端浏览器内，并储存到您的电脑硬盘内，此Cookies便负责记录日后您到访本网站的种种活动、个人资料、浏览习惯、消费习惯甚至信用记录。
</p>
<p>
    运用Cookies技术，本网站能够为您提供更加周到的个性化服务。本网站将会运用Cookies追访您的个人喜好，从而向您提供感兴趣的信息资料或储存密码，以便您造访本网站时不必每次重复输入密码。
</p>
<p>
    <br/>
</p>
<p>
    8. Email地址
</p>
<p>
    <br/>
</p>
<p >
    不经过你明确的允许，本网站不在网站的任何页面公开，也不向任何外部实体和个人透露你的email地址。你的email地址的用途限于辨别你的身份和保证在你忘记密码的时候能恢复你在本网站的身份和数据。除非当你通过本网站邀请朋友时，你的email地址将在本网站发出的邀请email中出现，使你的朋友能够辨别邀请的来源。或在网站大的更新或紧急意外出现时向你发出email. 除此之外任何向你email的发送必须经过你明确的许可。
</p>
    </div>
</div>
{{ include('footer.html') }}